<div class="ecl-container">

	<div class="col-xl text-center">
		<h1 class="ecl-u-type-heading-2">Priority Data Sets Viewer</h1>
		<h4 class="ecl-u-type-heading-6">
			<p>
				Explores the data sets identified by EU Member States and EFTA countries as <a rel="external" href="//inspire.ec.europa.eu/metadata-codelist/PriorityDataset">priority data sets for environmental reporting</a>.
				You can filter by environmental domain, environmental legislation and country.
			</p>
			<p>
				The list of priority data sets has been defined and is being further developed in the framework of
				<a rel="external" href="https://ies-svn.jrc.ec.europa.eu/projects/2016-5/wiki/">INSPIRE Maintenance and Implementation Work Plan 2016-2020 (MIWP)</a>.
			</p>
			<p>
				The Priority Data Sets Viewer provides statistical overviews of the availability of priority data set as well as simplified access
				to view or download selected data sets.
			</p>
		</h4>
	</div>

	<br/>

	<div class="col-xl text-center">
		<div class="ecl-u-type-heading-6 text-center">
			<h2 class="text-center">Browse Priority Data Sets:</h2>
        </div>
    </div>
	
    <div class="centered-item">
		<div class="block_container">

			<div class="single_card_33 text-center">
				<a id="themeEuOverviewAnchor" href="overview.html?view=thematicEuOverview&theme=none" class="icon-box-4 h-100">
					<div class="card-body">
						<div class="block_container">
							<div class="iconBrowse">
								<i class="fa fa-map-marker float-right fa-3x inspire-blue"></i>
							</div>
							<div class="textBrowse">
								<h2 class="card-title float-left">Country overview</h2>
							</div>
						</div>

						<p class="card-text mt-2 text-secondary text-center">
							Priority Data Sets grouped by individual EU & EFTA countries
						</p>
					</div>
				</a>
            </div>

			<div class="single_card_33 text-center">
				<a id="themeSelAnchor" href="../../srv/eng/catalog.search#/qsEnvDomain"  class="icon-box-4 h-100">
					<div class="card-body">
						<div class="block_container">
							<div class="iconBrowse">
								<i class="fa fa-seedling float-right fa-3x inspire-blue"></i>
                            </div>
							<div class="textBrowse">
								<h2 class="card-title float-left">Environmental Domains</h2>
							</div>
						</div>

						<p class="card-text mt-2 text-secondary text-center">
							Priority Data Sets grouped by the Environmental Domains or individual data sets
						</p>
					</div>
				</a>
            </div>

            <div class="single_card_33 text-center">
				<a id="themeSelAnchor" href="../../srv/eng/catalog.search#/qsLegislation"  class="icon-box-4 h-100">
					<div class="card-body">
						<div class="block_container">
							<div class="iconBrowse">
								<i class="fa fa-gavel float-right fa-3x inspire-blue"></i>
                            </div>
                            <div class="textBrowse">
								<h2 class="card-title float-left">Environmental Legislation</h2>
                            </div>
                        </div>

                        <p class="card-text mt-2 text-secondary text-center">
							Priority Data Sets grouped by relevant environmental reporting legislation
                        </p>
                    </div>
                </a>
            </div>

        </div>
    </div>
			
</div>