<div class="centerTEST">
	<br/>
	This is a test view to display application info:<br/>
	<span class="textBold">{{info['system/site/name']}}</span><br/>
	<br/>
	Organization: <span class="textBold">{{info['system/site/organization']}}</span><br/>
	Version: <span class="textBold">{{info['system/platform/version']}}</span><br/>
	Last Update: <span class="textBold">{{info['system/site/lastUpdate']}}</span>
	<br/>
	<div class="container">
		<div ng-repeat="annex in annexList">
			<div id="elements" class="rowGrid">
				<div class="item col-xs-12 col-sm-12 grid-group-item">
					<h2 class="text-center">Annex {{annex.label}}</h2>
				</div>
				<div ng-repeat="theme in themes.data | filter: { annexGroupId: annex.id}">
					<div class="colGrid">
						<div class="card-deck">
							<div class="card mb-4">
								<div class="card-body pb-1 text-center">
									<a href="overview.html?view=themeOverview&amp;theme={{theme.id}}" class="card-title inspire-blue">
										<img src="../../catalog/views/inspireportal/images/{{theme.id}}.svg" class="theme-icon-md" alt="theme icon">
										<span class="mx-2 h6">{{theme.label}}</span>
										<p class="blockquote-footer item-definition item-definition-ellipsis d-sm-block mt-2" data-toggle="tooltip" data-placement="bottom" title="{{theme.definition}}">
											Def.: <em>{{theme.definition}}</em>
										</p>
									</a>
								</div>
								<div class="card-footer pt-1 small">
									<div class="float-left">
										<a target="_blank" href="https://inspire.ec.europa.eu/Themes/{{theme.id}}">
											<i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Click for more details"></i>
										</a>
								</div>
								<div class="float-right">
									<i class="fa fa-file text-primary" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Metadata"></i> <span class="statsThemeSelectionBox_mdCount_ad">0</span>
									<span> | </span>
									<i class="fa fa-download text-primary" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Downloadable"></i> <span class="statsThemeSelectionBox_dwCount_ad">0</span>
									<span> | </span>
									<i class="fa fa-eye text-primary" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Viewable"></i> <span class="statsThemeSelectionBox_lyCount_ad">0</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					

					<!---
					<span class="textBold">{{theme.label}}</span><br/>
					{{theme.definition}}<br/>
					<br/>
					--->
				</div>
			</div>
		</div>
	</div>
</div>