<div class="ecl-container">
    <h2 class="ecl-u-type-heading-2"><span>Accessibility statement</span>
    </h2>
    <div class="ecl-row ecl-u-mt-l">
        <div class="ecl-col-l-3">
            <nav class="ecl-inpage-navigation" data-ecl-inpage-navigation data-ecl-auto-init="InpageNavigation" data-ecl-inpage-navigation="true" aria-labelledby="ecl-inpage-navigation-default">
                <div class="ecl-inpage-navigation__title" id="ecl-inpage-navigation-default">Page contents</div>
                <div class="ecl-inpage-navigation__body">
                    <button type="button" class="ecl-inpage-navigation__trigger" id="ecl-inpage-navigation-default-trigger" data-ecl-inpage-navigation-trigger="true"
                            aria-controls="ecl-inpage-navigation-list" aria-expanded="false" aria-label="inpage-navigation trigger">
                        <span class="ecl-inpage-navigation__trigger-current" data-ecl-inpage-navigation-trigger-current="true"></span>
                        <svg class="ecl-icon ecl-icon--s ecl-icon--rotate-180 ecl-inpage-navigation__trigger-icon" focusable="false" aria-hidden="true">
                            <use xlink:href="../../catalog/views/inspireportal/images/icons.svg#corner-arrow"></use>
                        </svg>
                    </button>
                    <ul class="ecl-inpage-navigation__list" data-ecl-inpage-navigation-list="true" id="ecl-inpage-navigation-default-list">
                        <li class="ecl-inpage-navigation__item" >
                            <a id= "compliance-statusBtn" href="/srv/eng/catalog.search#/accessibilitystatement#compliance-status" data-target="#compliance-status" class="ecl-link ecl-link--standalone ecl-inpage-navigation__link" data-ecl-inpage-navigation-link="">Compliance status</a>
                        </li>
                        <li class="ecl-inpage-navigation__item">
                            <a id="preparation-of-this-statementBtn" href="/srv/eng/catalog.search#/accessibilitystatement#preparation-of-this-statement" data-target="#preparation-of-this-statement" class="ecl-link ecl-link--standalone ecl-inpage-navigation__link" data-ecl-inpage-navigation-link="">Preparation of this statement</a>
                        </li>
                        <li class="ecl-inpage-navigation__item">
                            <a id="feedbackBtn" href="/srv/eng/catalog.search#/accessibilitystatement#feedback" data-target="#feedback" class="ecl-link ecl-link--standalone ecl-inpage-navigation__link" data-ecl-inpage-navigation-link="">Feedback</a>
                        </li>
                        <li class="ecl-inpage-navigation__item">
                            <a id="compatibility-with-browsers-and-assistive-technologyBtn" href="/srv/eng/catalog.search#/accessibilitystatement#compatibility-with-browsers-and-assistive-technology" data-target="#compatibility-with-browsers-and-assistive-technology" class="ecl-link ecl-link--standalone ecl-inpage-navigation__link" data-ecl-inpage-navigation-link="">Compatibility with browsers <br> and assistive technology</a>
                        </li>
                        <li class="ecl-inpage-navigation__item">
                            <a id="technical-specificationsBtn" href="/srv/eng/catalog.search#/accessibilitystatement#technical-specifications" data-target="#technical-specifications" class="ecl-link ecl-link--standalone ecl-inpage-navigation__link" data-ecl-inpage-navigation-link="">Technical specifications</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="ecl-col-l-9" data-inpage-navigation-source-area="h2, div.ecl-featured-item__heading">
            <div class="ecl-u-mb-2xl">
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">This statement applies to content published on the domain: '<a href="https://inspire-geoportal.ec.europa.eu/" class="ecl-link">https://inspire-geoportal.ec.europa.eu/</a>'</p>
                    <p class="ecl-u-type-paragraph-m">It does not apply to other content or websites published on any of its subdomains.
                        These websites and their content will have their own specific accessibility statement.</p>
                    <p class="ecl-u-type-paragraph-m">This website is managed by the Joint Research Centre.
                        It is designed to be used by as many people as possible, including people with disabilities.</p>
                    <p class="ecl-u-type-paragraph-m">You should be able to:</p>
                    <ul class="ecl-u-type-paragraph-m">
                        <li>zoom up to 200% without problems</li>
                        <li>navigate most of the website using just a keyboard</li>
                        <li>navigate most of the website using a modern screen reader and speech recognition software (on your computer or phone)</li>
                    </ul>
                    <p class="ecl-u-type-paragraph-m">This website is designed to comply with the <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf"
                                                                                                     class="ecl-link--icon ecl-link--icon-after underline">
                        technical standard for websites and mobile apps, EN 301 549, v.3.2.1</a>.
                        This closely follows level 'AA' of the <a href="https://www.w3.org/TR/WCAG21/" class="ecl-link--icon ecl-link--icon-after underline">
                            Web Content Accessibility Guidelines (WCAG) version 2.1</a>.</p>
                </div>
            </div>
            <div class="ecl-u-mb-2xl">
                <h2 class="ecl-u-type-heading-2" id="compliance-status">Compliance Status</h2>
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">This website is <strong> compliant</strong> with
                        <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf"
                           class="ecl-link--icon ecl-link--icon-after underline">technical standard EN 301 549 v.3.2.1</a>
                        and the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="ecl-link--icon ecl-link--icon-after underline">
                            Web Content Accessibility Guidelines (WCAG) 2.1 Level AA.</a>
                    </p>
                    <p class="ecl-u-type-paragraph-m">The website was last tested on June 2024.</p>
                </div>
            </div>

            <div class="ecl-u-mb-2xl">
                <h2 class="ecl-u-type-heading-2" id="preparation-of-this-statement">Preparation of this statement</h2>
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">This statement was reviewed on Axe Monitor and Lighthouse, using a combination of manual and automated testing.</p>
                    <p class="ecl-u-type-paragraph-m">Last review: June 2024</p>
                </div>
            </div>
            <div class="ecl-u-mb-2xl">
                <h2 class="ecl-u-type-heading-2" id="feedback">Feedback</h2>
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">We welcome your feedback on the accessibility of the ‘INSPIRE’ website.
                        Please let us know if you encounter accessibility barriers:
                    </p>
                    <ul class="ecl-u-type-paragraph-m">
                        <li>Phone: 00 800 6 7 8 9 10 11</li>
                        <li>Contact form: <a href="https://european-union.europa.eu/contact-eu/write-us_en">Write to us</a>
                            (please refrain from providing sensitive information in the form, e.g. any information that would reveal personal
                            financial information, information related to your health, or any other sensitive topic).</li>
                    </ul>
                    <p class="ecl-u-type-paragraph-m">
                        We try to respond to feedback within 15 business days from the date of receipt of the enquiry by the responsible
                        Commission department.
                    </p>
                </div>
            </div>
            <div class="ecl-u-mb-2xl">
                <h2 class="ecl-u-type-heading-2" id="compatibility-with-browsers-and-assistive-technology">Compatibility with browsers   and assistive technology</h2>
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">The 'INSPIRE Geoportal' website is designed to be compatible with the following most used assistive technologies:</p>
                    <ul class="ecl-u-type-paragraph-m">
                        <li>
                            the latest version of Google Chrome, Mozilla Firefox and Apple Safari browsers;
                        </li>
                        <li>in combination with the latest versions of JAWS, NVDA, VoiceOver and TalkBack.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="ecl-u-mb-2xl">
                <h2 class="ecl-u-type-heading-2" id="technical-specifications">Technical specifications</h2>
                <div class="ecl">
                    <p class="ecl-u-type-paragraph-m">The accessibility of the 'INSPIRE Geoportal' website relies on the following technologies to work with
                        the particular combination of web browser and any assistive technologies or plugins installed on your computer:
                    </p>
                    <ul class="ecl-u-type-paragraph-m">
                        <li>HTML</li>
                        <li>WAI-ARIA</li>
                        <li>CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

$(document).ready(function() {
 const el0 = document.getElementById("compliance-status");
  const el1 = document.getElementById("preparation-of-this-statement");
     const el2 = document.getElementById("feedback");
     const el3 = document.getElementById("compatibility-with-browsers-and-assistive-technology");
      const el4 = document.getElementById("technical-specifications");


  $('.ecl-inpage-navigation__list').click(function(e) {
             e.preventDefault();
             })

                        $("#compliance-statusBtn").click(function() {
             el0.scrollIntoView();
             document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.add('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
             })

                            $("#preparation-of-this-statementBtn").click(function() {
             el1.scrollIntoView();
                   document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
             });

                             $("#feedbackBtn").click(function() {
             el2.scrollIntoView();
                  document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
             });

                $("#compatibility-with-browsers-and-assistive-technologyBtn").click(function() {
             el3.scrollIntoView();
                   document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
             });

                $("#technical-specificationsBtn").click(function() {
             el4.scrollIntoView();
                  document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.add('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
             });



    document.addEventListener("scroll", function() {
                 if (el0.getBoundingClientRect()['y'] < 1 && el0.getBoundingClientRect()['y'] > -180) {
                 document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.add('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
                 }
                 else if (el1.getBoundingClientRect()['y'] < 1 && el1.getBoundingClientRect()['y'] > -160) {
             document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
                 }
                 else if (el2.getBoundingClientRect()['y']  < 1 && el2.getBoundingClientRect()['y'] > -200 ) {
                   document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
                 }
                 else if (el3.getBoundingClientRect()['y']  < 1 && el3.getBoundingClientRect()['y'] > -190) {
                  document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.add('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.remove('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
                 }
                 else if (el4.getBoundingClientRect()['y']  < 1 && el4.getBoundingClientRect()['y'] > -200) {
                   document.querySelectorAll(".ecl-inpage-navigation__item")[0].classList.remove('ecl-inpage-navigation__item--active');
             document.querySelectorAll(".ecl-inpage-navigation__item")[1].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[2].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[3].classList.remove('ecl-inpage-navigation__item--active')
             document.querySelectorAll(".ecl-inpage-navigation__item")[4].classList.add('ecl-inpage-navigation__item--active')
             document.activeElement.blur();
                 }
 })


});
</script>