<div class="ecl-container">
    <div class="ecl-row">
        <div class="ecl-col-s-12">
            <h2 class="ecl-u-type-heading-2"><span>Enabling access to European geospatial data for the Green Deal</span>
            </h2>

            <p class="ecl-u-type-paragraph-m">
                The INSPIRE Geoportal is the central European access point to the data provided by EU Member States and
                EFTA countries under the 
                <a class="inspire-blue underline" href="https://inspire.ec.europa.eu/inspire-directive/2" title="INSPIRE Directive">INSPIRE Directive</a>. The Geoportal allows: </p>

            <div class="link-container">
                <ul class="ecl-unordered-list">
                    <li class="ecl-unordered-list__item">monitoring the availability of datasets in scope;</li>
                    <li class="ecl-unordered-list__item">discovering suitable datasets based on their descriptions (metadata);</li>
                    <li class="ecl-unordered-list__item">accessing the selected datasets through their view or download services.</li>
                </ul>
            </div>

            <p class="ecl-u-type-paragraph-m">
                The metadata used in the Geoportal are regularly harvested from the discovery services of EU Member States and EFTA countries.
            </p>

            <p class="ecl-u-type-paragraph-m">
                Feedback regarding the functionality as well as dataset availability is welcome <a class="inspire-blue underline"
                    href="https://github.com/INSPIRE-MIF/helpdesk-geoportal">here</a>.
            </p>
            <br />
        </div>
    </div>

    <div class="ecl-row" tabindex="-1">
        <div class="ecl-u-mb-s ecl-col-12 ecl-col-l-6">
            <article class="ecl-card background-color-white">
                <h1 class="ecl-card__title ecl-u-type-color-blue-100 center-text">
                        <a href="../../srv/eng/catalog.search#/hvdshome"
                            class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100"> High-Value Datasets </a>
                </h1>
                <a href="../../srv/eng/catalog.search#/hvdshome">
                    <img src="../../catalog/views/inspireportal/images/mapAndTag.png" class="ecl-card__image image_size" aria-label="card image" role="img" />
                </a>

                <div class="ecl-card__body">
                    <div class="ecl-card__description"> Application providing an overview and access to geospatial high-value datasets and other core datasets (including priority datasets for eReporting).<br/></div>
                </div>

                <footer class="ecl-card__footer ecl-u-mv-m center-text">
                    <a href="../../srv/eng/catalog.search#/hvdshome" class="ecl-link ecl-link--primary">
                        <i class="fas fa-tags ecl-u-mr-xs"></i>
                        Browse</a>
                </footer>
            </article>
        </div>

        <div class="ecl-u-mb-s ecl-col-12 ecl-col-l-6">
            <article class="ecl-card background-color-white">
                <h1 class="ecl-card__title ecl-u-type-color-blue-100 center-text">
                        <a href="../../srv/eng/catalog.search#/tvhome"
                            class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100">INSPIRE Thematic Data </a>
                </h1>
                <a href="../../srv/eng/catalog.search#/tvhome">
                    <img src="../../catalog/views/inspireportal/images/mapAndLogo.png" class="ecl-card__image image_size" aria-label="card image" role="img" />
                </a>

                <div class="ecl-card__body">

                    <div class="ecl-card__description"> Application displaying the availability and providing access to all EU Member States and EFTA countries datasets falling under the scope of INSPIRE Directive filtered by data themes (i.e. Annex I, II and III) and countries.</div>

                </div>
                <footer class="ecl-card__footer ecl-u-mv-m center-text">
                    <a href="../../srv/eng/catalog.search#/tvhome" class="ecl-link ecl-link--primary">
                        <i class="fas fa-th-list ecl-u-mr-xs"></i>
                        Browse</a>
                </footer>
            </article>
        </div>
    </div>

    <div class="ecl-row" tabindex="-1">
        <div class="ecl-u-mb-s ecl-col-12 ecl-col-l-12">
            <article class="ecl-card background-color-white">
                <header class="ecl-card__header text-center ">
                    <h1 class="ecl-card__title ecl-u-type-color-blue-100 center-text">
                            <a href="https://inspire.ec.europa.eu/validator/"
                                class="ecl-link ecl-link--standalone ecl-u-type-color-blue-100">INSPIRE Reference
                                Validator</a>
                    </h1>
                </header>
                <div class="ecl-card__body">
                    <div class="ecl-card__description">
                        Application helping data providers, solution providers and national coordinators check whether their datasets, network services and metadata meet the requirements defined in the corresponding <a
                        href="https://inspire.ec.europa.eu/Technical-guidelines3">Technical Guidelines</a>.
                        <br/>
                        The validation tests are based on the Abstract Test Suites agreed between Member States and the Commission in the <a
                        href="https://inspire.ec.europa.eu/inspire-maintenance-and-implementation/46">Maintenance and Implementation Group</a>.
                    </div>
                </div>
                <footer class="ecl-card__footer ecl-u-mv-m text-center">

                    <div class="center-text">
                        <a href="https://inspire.ec.europa.eu/validator/" class="ecl-link ecl-link--primary">
                            <i class="far fa-play-circle ecl-u-mr-xs"></i>
                            Go to INSPIRE Reference Validator</a>
                    </div>
                </footer>
            </article>
        </div>
    </div>

</div>