<div class="ecl-container">

	<div class="ecl-row">
		<div class="ecl-col-s-12">
			<h2 class="ecl-u-type-heading-2">INSPIRE Datasets</h2>

			<p class="ecl-u-type-paragraph-m">
				Explore the datasets provided by EU Member States and EFTA countries.
				You can filter by <a class = "inspire-blue  underline" rel="external" href="http://inspire.ec.europa.eu/theme/">spatial data theme</a> (from
				Annex I, II and III) and country.
			</p>
			<p class="ecl-u-type-paragraph-m">
				The application provides statistical overviews of datasets availability as well as simplified access to view or download selected datasets.
			</p>

		</div>
	</div>

	<div class="ecl-row">
		<div class="ecl-col-s-12">
			<h2 class="ecl-u-type-heading-2"> Browse Geoportal Datasets: </h2>
		</div>
	</div>

	<div class="ecl-row">
		<div class="ecl-content-item-block__item ecl-u-mb-l ecl-col-12 ecl-col-l-6 last-item-column topMargin-10">

			<article class="ecl-card">
				<div class="pos-icon">
					<i class="fa fa-map-marker fa-3x inspire-blue"></i>
				</div>
				<div class="ecl-card__body">
					<div class="ecl-content-block ecl-card__content-block center-text">

						<h1 class="ecl-content-block__title">
							<a href="../../srv/eng/catalog.search#/overview?view=thematicOverview&theme=none" class="ecl-link ecl-link--standalone">Country Overview</a>
						</h1>
						<div class="ecl-content-block__description">
							<p class="ecl-u-type-paragraph-m"> Availability of datasets grouped by individual EU & EFTA countries</p>
						</div>
					</div>
				</div>
			</article>

		</div>

		<div class="ecl-content-item-block__item ecl-u-mb-l ecl-col-12 ecl-col-l-6 last-item-column last-item topMargin-10">

			<article class="ecl-card">

				<div class="pos-icon">
					<i class="fa fa-list fa-3x inspire-blue"></i>
				</div>
				
				<div class="ecl-card__body">
					<div class="ecl-content-block ecl-card__content-block center-text">

						<h1 class="ecl-content-block__title">
							<a href="../../srv/eng/catalog.search#/datathemes" lass="ecl-link ecl-link--standalone">INSPIRE Data Themes</a>
						</h1>
						<div class="ecl-content-block__description">
							<p class="ecl-u-type-paragraph-m"> Availability of datasets grouped by data themes</p>
						</div>
					</div>
				</div>

			</article>

		</div>

	</div>

</div>